*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%; ;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(245.59deg,#ee4646 0%,#e02828 28.53%,#ec0909 75.52%) ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h1{
    font-family: 'Kalnia', serif;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text p{
    font-size: 16px;
    color: white;
    line-height: 1.9;
    margin-bottom:30px ;
}
.hero-text a{
    display: inline-block;
    color: rgb(12, 11, 11);
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    text-transform:uppercase;
}
.hero-text a:hover{
    border: 1px solid white;
    background: linear-gradient(254245.59deg,animate rgb(77, 72, 72) 0%, animate rgb(39, 37, 37) 28.53%,animate black 75.52%);
    transform: translateY(-5px);

}
.hero-img img{
    height: auto;
    width: 600px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .55s ease;
}
.icons i:hover{
    color: #4e0b3d;
    transform: translateY(-10%);
}
.scroll-down{
    position: absolute;
    bottom: 4%;
    right: 5%;
}
.scroll-down i{
    display:block ;
    padding: 12px;
    font-size: 25px;
    color: white;
    background:#420c3b ;
    border-radius: 30px;
    transition: all .55s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
@media (max-width:1535px ){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width:1460px ){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width:1340px ){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width:1195px ){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width:990px ){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 60vh;
        background: #4d9559 ;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width:680px ){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
.copy{
    position: fixed;
    color: black;
    margin-bottom:0 ;
    align-items: center;
    bottom: 0;
    margin-left: 200px;
}
.copy p{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace ,serif;
    color: azure;
    text-shadow: black;
}